$modal-header-height: 40px;
$modal-footer-height: 40px;
$modal-mask-bg-color: rgba(0, 0, 0, 0.7);


.modal{
    z-index: 1000
}

.modal__mask {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
}

.modal__wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
}

.modal__content {
    display: inline-block;
    position: relative;
    max-width: 94%;
    height: auto;
    margin: 2% auto;
    background: #fff;
    border-radius: 6px;
}

.modal__header {
    width: 100%;
    height: $modal-header-height;
    border-bottom: 1px solid gray;
}

.modal__body {
    overflow: auto;
}

.modal__footer {
    width: 100%;
    height: $modal-footer-height;
    border-top: 1px solid gray;
}

// center content
.modal__wrapper--centered {
    &::before {
        display: inline-block;
        width: 0;
        height: 100%;
        content: "";
        vertical-align: middle;
    }
    .modal__content {
        vertical-align: middle;
    }
}

// scroll relative to body
.modal__wrapper--scrollable {
    overflow: hidden;
    .modal__content {
        max-height: 94%;
        margin: 3% auto;
    }
}